body {
  font-size: 1.5rem;
  height: 100vh;
  background: linear-gradient(#3A03AC, #4361EE, dodgerblue, #4895EF);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Monaco',
    monospace;
}

button {
  border-radius: 10%;
  font-size: 1rem;
  margin: 0.25rem;
}

input {
  margin: 0.5rem;
}

#list {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: flex-end;
}